@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}
@mixin flex {
  display: -webkit-flex;
  display: flex;
}
@mixin border-radius($values) {
  @each $var in $values {
    border-radius: #{$var};
  }
}
@mixin icon {
  font-family: $font-icon;
}
