.sort-box-holder{
  background-color: $color-white;
  margin-bottom: 20px;
  padding: 14px 15px;
  &:after{
    @include clearfix;
  }
  .sort-box{
    float: left;
  }
  .filter{
    float: right;
  }
}
.sort-box{
  position: relative;
  cursor: pointer;
  .list{
    position: absolute;
    top: 35px;
    left: 0;
  }
  .list{
    background-color: $color-white;
    width: 150px;
    z-index: 1;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    padding: 5px 10px;
    list-style: none;
  }
}