$color-white: #fff;
$color-black: #000;
$color-red: #e73723;
$color-gray: #e0e0e0;
$color-gray-1: #f5f5f5;

$background-gray: $color-gray-1;
$background-red: $color-red;

//border
$border-base: 1px solid $color-gray;