$icon-beauty: "\e900";
$icon-belongings: "\e904";
$icon-book-tickets: "\e90b";
$icon-car-bike: "\e911";
$icon-electronics: "\e92d";
$icon-furniture: "\e931";
$icon-kids: "\e936";
$icon-men-clothes: "\e93d";
$icon-men-sports: "\e943";
$icon-women-clothes: "\e949";
$icon-notification: $icon-kids;
$icon-chat: $icon-kids;
$icon-cart: $icon-kids;
$icon-account: $icon-kids;
$icon-sell: $icon-kids;