.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 30px;
  .item-container{
    position: relative;
    font-size: 14px;
    width: 100%;
  }
}
.item-container{
  .item-image{
    margin-bottom: 15px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
  }
  .item-info{
    font-weight: 500;
  }
  .item-title{
    line-height: 1.43;
    margin-bottom: 10px;
  }
  .item-price{
    color: $color-red;
  }
}
@media only screen and (min-width: 1024px){
.bump-flex-grid {
  max-width: 1024px;
  margin: 0 auto;
}
}